// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .saturday {
//   background: rgba(200, 200, 250, 0.2);
// }
// .sunday {
//   background: rgba(250, 200, 200, 0.2);
// }
.v-toolbar-title {
  font-size: 1.5em;
}

.btn-small {
  font-size: 10px;
}

.list-item-title {
  font-size: 14px;
}
.saturday {
  background: rgba(200, 200, 250, 0.2);
}
.sunday {
  background: rgba(250, 200, 200, 0.2);
}
