.notification-title {
  font-size: 1.5em;
}

.custom-divider { 
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.centered-text {
  text-align: center;
}

// 既読の通知のスタイルを追加

.notification-title {
  margin-top: 20px;  // お知らせのテキストの上マージンを調整
  margin-left: 40px; // お知らせのテキストの左マージンを調整
}

.close-button{
  margin-top: 20px;  // クローズボタンの上マージンを調整
}

.event-title {
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
}